[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sentry-sdk = "*"
jsonschema = "*"

[dev-packages]
black = "*"
coveralls = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
ruff = "*"
types-jsonschema = "*"
pip-audit = "*"

[requires]
python_version = "3.12"
